<div class="contents-row">
  <p><%= current_user.nickname %>さんの投稿一覧</p>
  <%= @tweets.each do |tweet| %>
    <p>スキー場名：<%= tweet.name %></p>
    <p>スキー場の説明：<%= tweet.text %></p>
    <p>スキー場の評価点：<%= tweet.recommend %></p>
  <% end %>
  <a href = "/">投稿一覧へ戻る</a>
</div>