<!DOCTYPE html>
<html>
  <head>
    <title>SkiCoach</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <a href = "/" class="header-logo">スキー場感想一覧</a>
      <% if user_signed_in? %>
        <%= link_to "投稿する", "/tweets/new", method: :get %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        <a href = "/users/<%= current_user.id %>">マイページ</a>
      <% else %>
        <%= link_to "ログイン", new_user_session_path, method: :get %>
        <%= link_to "新規登録", new_user_registration_path, method: :get %>
      <% end %>
      <div class="intro-button">
        <a href ="/infos">このブログについて</a>
      </div>
    </div>
    <%= yield %>
    <div class="fotter">
      <h3>
        copyright ski-coach all right reserved
      </h3>
    </div>
  </body>
</html>
